*{
    margin: 0;
    padding: 0;
}
body{
}
h1{
    text-align: center;
    margin-top: 30px;
}
p{
    text-align: center;
    margin-top: 20px;
    font-weight: 900 ;
}
img{
    
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}
.logo{
    display: flex;
    align-items: center;
}
nav a{
background-color: brown;
text-decoration: none;
font-size: 18px;
font-weight: 700;
color: cornsilk;
padding: 5px;
border-radius: 5px;
}
title{
    
}
main{
    background-color: yellow;
    padding: 40px 0;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}

main {
    text-align: center;
}
.gallery{
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}
.gallery img {
    border: 4px black double;
    width: 200px;
}
.big-img{
    width: 500px;
    border: 4px black double;
}
footer{
    background-color: darkgray;
    text-align: center;
}
main{
    text-align: center;
}
