
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: brown;

}
h1{
    text-align: center;
}
p{
    text-align: center;
}
header img{
   width: 500px;
  margin: 0 auto;
}

h2{
    text-align: center;
}
main img{
  border-radius: 25px;
  border: solid;
  border-color: rgb(7, 37, 37);
display: flex;
height: 250px;
width:500px;
margin: 5px;
    top: 0;
    left: 0;

}
main{
    background-color: grey;
    width: 100%;

}
a{
    text-decoration: none;
    background-color: black;
   border-radius: 200px;
    text-align: end;
    color: yellow;
margin-right: 10px;
padding: 5px;
transition: 1s;
}
a:hover{
 color: blue;
}
a:active{
    color:rgb(253, 93, 0);
    opacity: 0.7;
}
header img{
    width: 250px;
display: flex; 
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
header a:hover{
transition: 1s;
opacity: 0.9;
}
.gallery-block{
      border-radius: 25px;
  border: solid;
  border-color: rgb(7, 37, 37);

}
footer{
    background-color: black;
}
.gallery-block{
    width: 400px;
    padding: 10px 0;
    
}
.gallery-block p{
    margin-bottom: 5px;
}
.gallery-block{
    text-align: center;
}
.gallery-klon{
         border-radius: 25px;
  border: solid;
  border-color: rgb(7, 37, 37); 
      text-align: center;
}
main{
    background-image: linear-gradient( ye, yellow);
}
nav{
    text-align: center;
    padding: 25px;
}
footer{
    background: rgb(0, 0, 0);
    color: white;
}
.gallery-block img{
    width: 100%;
    object-fit: cover;
}
.gallery-block a{
padding: 5px;
}
.gallery-hyq{
    width: 100%;
         border-radius: 25px;
  border: solid;
  border-color: rgb(7, 37, 37);
  display: flex;
}
main a{
    padding: 34px;

}
h2{
    text-align: center;
}
